workflows/leadEnrichment.json
{
  "name": "leadEnrichment",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1mA-pwnFIN6Ng0m7swzf8jbaryJEPcYmOpnBTd6uwg1w",
          "mode": "list",
          "cachedResultName": "Lead_Enrichment",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mA-pwnFIN6Ng0m7swzf8jbaryJEPcYmOpnBTd6uwg1w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mA-pwnFIN6Ng0m7swzf8jbaryJEPcYmOpnBTd6uwg1w/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "22333089-7978-4ef3-8a6a-56d66070c040",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "ldvU61iUUh5GzNt2",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.brandfetch.io/v2/brands/{{ $json.Domain }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        0
      ],
      "id": "9b7df1f2-fd76-4d6c-8130-6e54376e084c",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PjetzQZ0Z1BiTo8b",
          "name": "brandfetchApi"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "497dd393-b620-4de6-8bd1-e45dbe98db77",
              "name": "Company_Name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "bf876dc6-4ce1-4e48-b7fa-e3404956d166",
              "name": "Description",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "ad266ab6-463c-47c8-af7c-995edccd8547",
              "name": "Logo_URL",
              "value": "={{ $json.logos.find(x => x.theme === 'dark')?.formats[0].src }}",
              "type": "string"
            },
            {
              "id": "027db992-b9a0-4d95-8731-404847be3503",
              "name": "Twitter_Link",
              "value": "={{ $json.links.find(x => x.name === 'twitter')?.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        0
      ],
      "id": "45201af8-a8b5-4760-b417-df67ce6a6db5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1mA-pwnFIN6Ng0m7swzf8jbaryJEPcYmOpnBTd6uwg1w",
          "mode": "list",
          "cachedResultName": "Lead_Enrichment",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mA-pwnFIN6Ng0m7swzf8jbaryJEPcYmOpnBTd6uwg1w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mA-pwnFIN6Ng0m7swzf8jbaryJEPcYmOpnBTd6uwg1w/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Domain": "={{ $('Google Sheets Trigger').item.json.Domain }}",
            "Company_Name": "={{ $json.Company_Name }}",
            "Description": "={{ $json.Description }}",
            "Logo_URL": "==IMAGE(\"{{ $json.Logo_URL }}\")",
            "Twitter_Link": "={{ $json.Twitter_Link }}",
            "Status": "Complete"
          },
          "matchingColumns": [
            "Domain"
          ],
          "schema": [
            {
              "id": "Domain",
              "displayName": "Domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company_Name",
              "displayName": "Company_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Logo_URL",
              "displayName": "Logo_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Twitter_Link",
              "displayName": "Twitter_Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        0
      ],
      "id": "2205caf0-0d34-47eb-a080-6e77353ed9b7",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NtdAjThucdDvVDMU",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b62d3ad5-8128-4a49-ab7f-9376a1fe9e6e",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Pending",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        224,
        0
      ],
      "id": "dffaf8bf-ec10-480b-ad53-46707d076c89",
      "name": "Filter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "c1639fc2-1464-40d9-a0e6-4c1cc669a4fc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eb7378612778d6e94b00c525b32fba1edc0b3bbee0e820cd7f7ddf749ae82ec8"
  },
  "id": "Sxx9bGvNj7mkzhqP",
  "tags": []
}